[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
ExecStart={{kafka_directory}}/bin/zookeeper-server-start.sh {{kafka_directory}}/config/zookeeper.properties
ExecStop={{kafka_directory}}/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target